* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* first nav */

.first_nav {
    background-color: rgb(7, 42, 80);
    font-size: 14px;
    color: #fffd;
    font-family: sans-serif;
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px 0px 100px;
}

.first_nav h3 {
    font-weight: 100;
}

.first_nav .nav_icon {
    width: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 16px;
}

.first_nav .nav_icon i:hover {
    transition: 0.2s ease-in-out;

    transform: scale(1.7);
}


.nav_icon_mobile {
    display: none;
}

/* second nav */
.second_nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;

}

.second_nav .second_nav_text {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.second_nav .second_nav_text img {
    height: 95px;
    width: 95px;
}

.second_nav .second_nav_text .nav_headline {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}

.second_nav .second_nav_contact {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.second_nav_contact .phone {
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 10px;

}

.second_nav_contact .phone i {
    font-size: 45px;
    padding-right: 10px;
    align-self: center;
}

.second_nav_contact .email {
    width: fit-content;
    padding: 0 10px;
    align-self: center;
}

.second_nav_contact .email i {
    font-size: 40px;
    padding-right: 10px;
    align-self: center;
}

.contact_box {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}


/* third nav */
.third_nav {
    height: 60px;
    width: 100%;
    background-color: rgb(226, 226, 226);


}

.third_nav>ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.46vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520;
    height: 60px;
    width: 100%;
}

.third_nav ul>li {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.third_nav ul li a {

    border-bottom: 2px solid transparent;

}

.third_nav ul li a:hover {

    border-bottom: 2px solid #000;

}

/* sfdf */
a {
    text-decoration: none;
    color: #000;
}

.about_us_list {
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 6%;
    height: fit-content;
    width: 330px;
    background-color: rgb(7, 42, 80);
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;


}

.third_nav .about_us_list>ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
}

.third_nav .about_us_list ul li {
    list-style-type: none;
    padding: 10px 3px;

}

.third_nav .about_us_list ul li:hover {
    padding: 10px 3px;
    background-color: rgb(7, 170, 204);

}

.third_nav .about_us_list ul li a {
    color: rgba(255, 255, 255, 0.867);

}

.third_nav_mobile {
    display: none;
}

@media (max-width: 768px) {
    .first_nav .nav_icon {
        display: none;
    }

    .nav_icon_mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        padding: 5px;
        border: 3px solid rgb(7, 42, 80);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 45px;
        top: 45px;
        right: 0;
        background-color: rgb(7, 42, 80);

    }

    .nav_icon_mobile>i {
        font-size: 24px;
    }

    .first_nav {
        display: flex;
        justify-content: center;
        font-size: 12px;

    }

    .second_nav .second_nav_contact .phone,
    .second_nav .second_nav_contact .email {
        display: none;

    }

    .first_nav {
        background-color: rgb(7, 42, 80);
        font-family: sans-serif;
        color: #fffd;
        display: flex;
        height: 40px;
        width: 100%;
        align-items: center;

        padding: 0 10px;
        text-align: center;

    }

    .second_nav {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

    }

    .second_nav .second_nav_text {
        display: flex;
        font-size: 18px;
        align-items: center;
    }


    .second_nav .second_nav_text .nav_headline {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 10px;
    }

    .second_nav .second_nav_text .nav_headline p {
        font-size: 14px;
    }

    .third_nav {
        height: 60px;
        width: 100%;
        background-color: rgb(226, 226, 226);
        display: flex;
        align-items: center;

    }



    .third_nav>ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: 1.6vw;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        flex-direction: row;
        height: 60px;
        width: 94%;
    }

    .third_nav ul>li {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .about_us_list {
        position: absolute;
        top: 205px;
        left: 8%;
        width: 220px;
        background-color: rgb(7, 42, 80);
        padding-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        display: none;


    }

    .third_nav .about_us_list>ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    .third_nav .about_us_list ul li {
        list-style-type: none;
        padding: 10px 3px;

    }

    .third_nav .aboutUs {
        padding: 10px 10px;

    }

    /* .about_us_mobile_list {
        position: relative;
        top: 50px;
        right: 0px;
        display: flex;
        font-size: 15px;

    } */

    .first_nav .nav_icon_mobile a {
        color: rgb(255, 255, 255);
    }

    .first_nav .nav_icon_mobile a:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.6);
    }



}

@media (max-width: 580px) {
    .third_nav>ul {
        display: none;

    }


    .nav_icon_mobile {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 60px;
        padding: 5px;
        border: 3px solid transparent;
        width: 40%;
        top: 160px;
        right: 0;
        background-color: transparent;

    }


    .first_nav {
        background-color: rgb(7, 42, 80);
        font-family: sans-serif;
        color: #fffd;
        display: flex;
        height: 40px;
        width: 100%;
        align-items: center;

        padding: 0 10px;
        text-align: center;

    }

    .second_nav {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

    }

    .second_nav .second_nav_text {
        display: flex;
        font-size: 16px;
        align-items: center;
    }


    .second_nav .second_nav_text .nav_headline {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 10px;
    }

    .second_nav .second_nav_text .nav_headline p {
        font-size: 16px;
    }

    .third_nav_mobile {
        display: flex;


    }

    .third_nav_mobile_list {
        position: absolute;
        top: 40px;
        left: 0px;
        background-color: #b8b8b8b9;
        width: fit-content;
        height: fit-content;
        backdrop-filter: blur(5px);
        display: none;
        align-items: end;
        padding: 20px;
        z-index: 20000000;


    }

    .third_nav_mobile_list ul {
        list-style-type: none;
        width: 100%;

    }

    .third_nav_mobile_list ul li {
        padding: 10px 0px;
        text-align: end;
    }

    .third_nav_mobile_list ul li:hover {
        background-color: rgb(226, 226, 226);



    }

    .third_nav_mobile_list ul li a {
        border-bottom: 1px solid black;


    }



    .third_nav_mobile_list ul li i:hover {
        color: red;
    }

    .third_nav_mobile {
        font-size: 30px;
        padding-left: 20px;

    }

    .nav_icon_mobile a i {
        font-size: 20px;
    }

    /* .nav_icon_mobile a i:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.3);
    } */
}

/* main */
/* main{
    background-color: rgb(95,105,123);
    width: 100%;
    height: 1000px;
} */
main {
    width: 100%;
}

main .hero {
    width: 100%;
    height: 70vh;
    background-image: url("iMAGE/liberarycolored.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -160px;
    position: relative;

}

.hero h2 {
    font-size: 39px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 150px;
    left: 100px;

}

.hero p {
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 220px;
    left: 105px;
}

.hero button {
    border: none;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
}

.hero .btn_hero {

    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 300px;
    left: 100px;

}

.hero .btn_admission {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 196, 0);
}

.hero .btn_readMore {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 119, 255);
}

.hero a {
    color: #fff;
    font-size: 15px;
}

.hero >img {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #e0e0e0;
    border: 5px solid #FFA500;
    position: absolute;
    top: 110px; 
    right: 95px;
}

main .hero_1 {
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

main .hero_1 h1 {
    margin-bottom: 15px;
}

@media (max-width:900px) {
    main .hero_1 {
        margin-top: -15px;
    }

    .hero h2 {
        font-size: 33px;
        position: absolute;
        top: 80px;
        left: 60px;

    }

    .hero p {
        font-size: 20px;
        position: absolute;
        top: 150px;
        left: 65px;
    }

    .hero .btn_hero {


        position: absolute;
        top: 240px;
        left: 60px;

    }
    
.hero >img {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 100px; 
    right: 100px;
}

}

@media (max-width: 768px) {
    main .hero {
        width: 100%;
        height: 70vh;
        background-image: url("iMAGE/liberarycolored.jpg");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -100px;
        position: relative;

    }

    main .hero_1 {
        margin-top: -105px;
    }

    main .hero {
        width: 100%;
        height: 70vh;
        background-image: url("iMAGE/liberarycolored.jpg");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -160px;
        position: relative;

    }

    .hero h2 {
        font-size: 26px;
        position: absolute;
        top: 50px;
        left: 30px;

    }

    .hero p {
        font-size: 23px;
        position: absolute;
        top: 100px;
        left: 35px;
    }

    .hero .btn_hero {
        position: absolute;
        top: 180px;
        left: 30px;

    }
    .hero >img {
        height: 30vw;
        width: 30vw;
        position: absolute;
        top: 60px; 
        right: 60px;
    }

}

main .hero_1 p {
    width: 90%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: center;
}

.hero_1 p:last-child {
    margin-top: 20px;
    background-color: blue;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: underline;
}

.hero_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    gap: 20px;

}

.hero_2 img {
    width: 140px;
    height: 140px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: cover;
}

.hero_2 h4 {
    color: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px;

}

.hero_2 p {
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px;
    text-align: center;
    width: 90%;
    line-height: 30px;

}

.hero_2 .hero2_box {
    box-shadow: rgb(109, 141, 176) 0px 20px 30px -10px;
}

.hero_2 .hero2_box:hover {

    background-color: rgb(169, 169, 169);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* transform: scale(1.04);
     */

}

.hero_2 .scheme {
    background-color: rgb(167, 69, 34);
    height: 312px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 0px 20px;

}

.hero_2 .library {
    background-color: rgb(200, 75, 109);
    height: 312px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 0px 20px;
}

.hero_2 .laboratories {
    background-color: rgb(249, 169, 108);
    height: 312px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 0px 20px;
}

.managment {
    width: 100%;
    height: fit-content;
    background-image: url(iMAGE/management.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.managment>div {
    width: 100%;
    padding: 30px 0px;
    height: fit-content;
    background-color: rgba(7, 42, 80, 0.65);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.managment h5 {
    font-size: 28px;
    padding-bottom: 20px;


}

.managment p:nth-child(3) {
    font-size: 16px;
    font-weight: 450;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    line-height: 25px;

}

.managment h6 {
    font-size: 22px;
}

.managment p:last-child {
    margin-top: 10px;
    width: 99%;
    text-align: center;
}


.managment img {
    height: 95px;
    width: 95px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.footer1 {
    width: 100%;
    height: fit-content;
    background-color: rgb(7, 42, 80);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: start;
    color: #fff;
    padding: 50px 30px 0px 30px;

}

.footer1 .gallery_grid {
    height: 240px;
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5px;

}

.footer1 .gallery_grid .items {
    /* background-color: #fff; */
    /* background-image: url(iMAGE/grid1.jpg); */
    height: 65px;
    width: 70px;
    border: 3px solid #fff;
    border-radius: 4px;
}

.footer1 .gallery_grid .items:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.footer1 .gallery_grid .items img {
    height: 100%;
    width: 100%;
}

.footer1 h5 {
    font-size: 22px;
    padding: 10px 0px;
}

.footer1 ul li {
    list-style-type: none;
    line-height: 40px;
    font-size: 18px;
}

/* .footer1 .contact,
.footer1 .NewsAndEvent,
.footer1 .ourGallery {} */

.footer2 {
    height: fit-content;

    width: 100%;
    background-color: rgb(5, 19, 35);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20PX;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.footer2 .copyright {
    margin: 0 100px;
}

.footer2 .design {
    margin: 0 100px;
}

.footer2 .design span {

    color: rgb(255, 145, 0);

}





@media (max-width: 580px) {
    .third_nav_mobile_list ul li {
        display: flex;

    }

    .third_nav_mobile_list ul li:first-child {
        background-color: transparent;
        display: flex;
        justify-content: end;
        padding: 0 20px 0 0;
    }

    .footer2 .copyright {
        margin: 0 10px;
        font-size: 11px;
    }

    .footer2 .design {
        margin: 0 10px;
        font-size: 12px;
    }

    main .hero {
        width: 100%;
        height: calc(80vh - 200px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -20px;

    }
    .hero >img {
      display: none;
    }

    main .hero_1 {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    main .hero_1 p {
        width: 100%;
        font-size: 16px;
        /* padding-top: 0px; */
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        text-align: center;
    }

    .hero h2 {
        font-size: 22px;
        position: absolute;
        top: 40px;
        left: 30px;

    }

    .hero p {
        font-size: 18px;
        position: absolute;
        top: 100px;
        left: 35px;
    }

    /* .hero button {
        padding: 4px;
    } */


    .hero .btn_hero {
        position: absolute;
        top: 200px;
        left: 30px;

    }

    .hero a {
        color: #fff;
        font-size: 11px;
    }

    .first_nav .nav_icon_mobile a {
        color: rgb(7, 42, 80);
    }



}


.goToTop {
    position: fixed;
    z-index: 2;
    bottom: 25px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 188, 7);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-arrow-up {
    font-size: 20px;
    color: #ffffff;

}

.fa-greater-than {
    font-size: 11px;
}